.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  max-height: 50px;
  margin-top: 20px;
}

.gradient {
  background-image: radial-gradient(ellipse, rgb(182, 174, 174), white);
}

h1 {
  color:white;
  font-family: 'Courier New', Courier, monospace;
}

nav {
  text-align: center;
  justify-content: center;
}

.navbar-nav {
  color: black;
}

footer {
max-height: 50px;
}

p3 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

p1, p {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

h2{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px; 
}
.footer-links {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

footer {
  margin-top: 20px;
}

label {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px; 
}

a {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px; 
}

textarea {
  font-family: 'Courier New', Courier, monospace;
}